.hidden
{
    display: none;
}

#overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, .75);
}

#deleteEventOverlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, .75);
}

#popup
{
    width: 50%;
    height: 90%;
    position: fixed;
    top: 5%;
    left: 25%;
    border-radius: 15px;
    z-index: 11;
    background-color: rgb(242, 242, 242);
    border: 2px solid rgb(220, 220, 220);
    padding: 5px;
}

#editTicketPopup
{
    width: 70%;
    height: 60%;
    position: fixed;
    top: 20%;
    left: 15%;
    border-radius: 15px;
    z-index: 11;
    background-color: rgb(242, 242, 242);
    border: 2px solid rgb(220, 220, 220);
    padding: 5px;
}

#newMemberPopup
{
    width: 45%;
    height: 80%;
    position: fixed;
    top: 10%;
    left: 27.5%;
    border-radius: 15px;
    z-index: 11;
    background-color: rgb(242, 242, 242);
    border: 2px solid rgb(220, 220, 220);
    padding: 5px;
}

#newEventPopup
{
    width: 45%;
    height: 40%;
    position: fixed;
    top: 30%;
    left: 27.5%;
    border-radius: 15px;
    z-index: 11;
    background-color: rgb(242, 242, 242);
    border: 2px solid rgb(220, 220, 220);
    padding: 5px;
}

#deleteEventPopup
{
    width: 20%;
    height: 20%;
    position: fixed;
    top: 45%;
    left: 45%;
    border-radius: 15px;
    z-index: 11;
    background-color: rgb(242, 242, 242);
    border: 2px solid rgb(220, 220, 220);
    padding: 5px;
}

#permBlock
{
   border: 2px solid rgb(200, 200, 200);
}

#headerRow
{
    background-color: rgb(220, 220, 220);
    border-bottom: 2px solid rgb(200, 200, 200);
}

#nameHeader, #editHeader, #viewHeader, .permHolder
{
    display: inline-block;
    border-left: 2px solid rgb(200, 200, 200);
    width: calc(15% - 17px);
    padding: 5px;
}

#nameHeader, .permHolder
{
    width: 70%;
    border-left: 0px;
}

#permList
{
    min-height: 100px;
    background-color: rgb(255, 255, 255);
}

.groupsPerm .permHolder::before
{
    content: "{} ";
}

.usersPerm .permHolder::before
{
    content: "[] ";
}

.usersPerm, .groupsPerm
{

}

.editButtonWrapper, .viewButtonWrapper
{
    display: inline-block;
    width: calc(15% - 5px);
    text-align: center;
}

#permWindowOwner
{
    display: inline-block;
    width: 90%;
}

#permWindowOwner, #changeOwner
{
    position: relative;
    top: -15px;
}

#addRemove, #cancelApply
{
    margin-top: 10px;
    text-align: right;
}

#btnsCreateCancel
{
    margin-top: 10px;
    text-align: right;
    padding-right: 5px;
}

#btnsCreateCancel *
{
  margin-right: 5px;
}

#addRemove
{
    padding-right: 5px;
}

#addRemove *, #cancelApply *
{
    margin-right: 5px;
}


body {
  font-family: Helvetica, sans-serif;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  position: absolute;
  top: 51px;
  width: 280px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--focused {
  background-color: #ddd;
}
