.funnel-container {
  position: relative;
  width: 100%;
}

.funnel-block {
  text-align: center;
  position: relative;
  > .block-label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.funnel-stack {
  position: relative;
  display: table;
  margin: 0 auto;
}

.funnel-bar {
  min-height: 30px;
  margin: 2px auto;
  opacity: 0.7;
}

.funnel-bar:hover {
  opacity: 0.9;
}

.funnel-tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  width: 160px;
  background: #eee;
  > span {
    display: inline-block;
  }
}




/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  //-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  //filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 105%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -50px;
  padding: 2px;
  width: 100px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 5px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  display: inline-block;
  white-space: pre-line;
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 105%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  //-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  //filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
