.main-box {
  position: absolute;
  top: 64px;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  right: 300px;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;

  @media only screen and (max-width: 992px) {
  right: 0;
  }
}

.main-box > div {
  height: 100%;
  padding: 5px;
  margin-bottom: 0 !important;
}

.info-hide {
  right: 0;
}
