.collection .collection-item.inactiveQuestion {
	background-color: #d3d3d3;
}

.commentDefault {
	display: none;
}

.commentOpen {
	display: block;
	resize: vertical;
	width: 90%;
	border: solid 1px grey;
	padding: 0 5px;
}

.commentOpen > .materialize-textarea {
	margin: 0;
}
